@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Quicksand:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #caf0f8;
}

body {
    background-color: #caf0f8;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f6ae2d;
    font-family: "Open Sans", "Arial", "sans-serif"; 

}

nav a:hover {
    background-color: #f26419;
    color: #caf0f8;
}

.book, .join {
    background-color: #f6ae2d;
    color: white;
    text-decoration: none;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #f26419;
    color: aliceblue;
}

.msg {
    background-color: #33658a;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #f6ae2d;
    font-family: "Open Sans", "Arial", "sans-serif"; 
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #f26419;
    font-family: "Open Sans", "Arial", "sans-serif"; 
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #f6ae2d;
    font-family: "Helvetica", "Arial", "sans-serif";
}

h2 {
    font-family: "Open Sans", "Arial", "sans-serif";
    margin: 0;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    line-height: 1.5em;
    padding-bottom: 15px;
}

p {
    font-family: "Helvetica", "Arial", "sans-serif";
}
footer h3 {
    color: white;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.contact-join {
    font-family: "Helvetica", "Arial", "sans-serif";
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #f6ae2d;
}